---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="About">
  <p>
    My name is Ahmad Thakur! I grew up in Lahore and have spent the last 25
    years navigating the ups and downs of life in this city. I recently
    graduated with a degree in Software Engineering, though my passion for
    programming has slowly faded like a dying sunset.
  </p>
  <p>
    These days, I’m diving deep into philosophy and psychology to better
    understand why people are the way they are, what drives them, and what truly
    brings happiness—not just for others, but for myself as well.
  </p>
  <p>
    Alongside my studies, I’m also working as Territory Leader at
    <a href="https://www.aspireleaders.org/">Aspire Institute</a>, where I help
    young people build leadership skills, discover new career opportunities, and
    connect with mentors who can guide them toward a brighter future. It’s a
    role that allows me to help others while I continue to explore my own path.
  </p>
  <p>
    I write about the things I’m learning and my reflections along the way,
    sharing them here for any random traveler who stumbles upon this website. If
    you’d like to hear more of my thoughts, feel free to visit my
    <a href="https://www.youtube.com/@ahmad_thakur">YouTube channel</a>, where I
    share my thoughts on a variety of topics.
  </p>
</Layout>
