---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="Books">
  <h1>Books I've Read This Year</h1>
  <style type="text/css" media="screen">
    .gr_grid_container {
      /* customize grid container div here. eg: width: 500px; */
      overflow: hidden;
    }

    .gr_grid_book_container {
      /* customize book cover container div here */
      float: left;
      width: 98px;
      height: 160px;
      padding: 0px 0px;
    }

    @media screen and (max-width: 525px) {
      .gr_grid_container {
        width: 100%;
      }
    }
  </style>
  <div id="gr_grid_widget_1729615008">
    <div class="gr_grid_container">
      <div class="gr_grid_book_container">
        <a
          title="Sophie's World"
          rel="nofollow"
          href="https://www.goodreads.com/book/show/25909216-sophie-s-world"
          ><img
            alt="Sophie's World"
            src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1444038633l/25909216._SX98_.jpg"
          /></a>
      </div>
      <div class="gr_grid_book_container">
        <a
          title="Starter Villain"
          rel="nofollow"
          href="https://www.goodreads.com/book/show/62326571-starter-villain"
          ><img
            alt="Starter Villain"
            src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1683564161l/62326571._SX98_.jpg"
          /></a
        >
      </div>
      <div class="gr_grid_book_container">
        <a
          title="Upgrade"
          rel="nofollow"
          href="https://www.goodreads.com/book/show/59439117-upgrade"
          ><img
            alt="Upgrade"
            src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1639699094l/59439117._SX98_.jpg"
          /></a
        >
      </div>
      <div class="gr_grid_book_container">
        <a
          title="The Millionaire Fastlane"
          rel="nofollow"
          href="https://www.goodreads.com/book/show/40930710-the-millionaire-fastlane"
          ><img
            alt="The Millionaire Fastlane"
            src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1532380632l/40930710._SX98_.jpg"
          /></a
        >
      </div>
      <div class="gr_grid_book_container">
        <a
          title="12 Rules for Life: An Antidote to Chaos"
          rel="nofollow"
          href="https://www.goodreads.com/book/show/33792742-12-rules-for-life"
          ><img
            alt="12 Rules for Life: An Antidote to Chaos"
            src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1509468449l/33792742._SX98_.jpg"
          /></a
        >
      </div>
      <div class="gr_grid_book_container">
        <a
          title="Atomic Habits: An Easy & Proven Way to Build Good Habits & Break Bad Ones"
          rel="nofollow"
          href="https://www.goodreads.com/book/show/40121378-atomic-habits"
          ><img
            alt="Atomic Habits: An Easy & Proven Way to Build Good Habits & Break Bad Ones"
            src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1655988385l/40121378._SX98_.jpg"
          /></a
        >
      </div>
      <div class="gr_grid_book_container">
        <a
          title="Dark Matter"
          rel="nofollow"
          href="https://www.goodreads.com/book/show/45697427-dark-matter"
          ><img
            alt="Dark Matter"
            src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1557421017l/45697427._SX98_.jpg"
          /></a
        >
      </div>
      <div class="gr_grid_book_container">
        <a
          title="Recursion"
          rel="nofollow"
          href="https://www.goodreads.com/book/show/41941223-recursion"
          ><img
            alt="Recursion"
            src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1584713127l/41941223._SX98_.jpg"
          /></a
        >
      </div>
      <div class="gr_grid_book_container">
        <a
          title="On Writing: A Memoir of the Craft"
          rel="nofollow"
          href="https://www.goodreads.com/book/show/57391296-on-writing"
          ><img
            alt="On Writing: A Memoir of the Craft"
            src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1615596508l/57391296._SX98_.jpg"
          /></a
        >
      </div>
      <div class="gr_grid_book_container">
        <a
          title="Carrie"
          rel="nofollow"
          href="https://www.goodreads.com/book/show/55172984-carrie"
          ><img
            alt="Carrie"
            src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1598821680l/55172984._SX98_.jpg"
          /></a
        >
      </div>
      <div class="gr_grid_book_container">
        <a
          title="Legends & Lattes (Legends & Lattes, #1)"
          rel="nofollow"
          href="https://www.goodreads.com/book/show/61242426-legends-lattes"
          ><img
            alt="Legends & Lattes"
            src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1654581271l/61242426._SX98_.jpg"
          /></a
        >
      </div>
      <div class="gr_grid_book_container">
        <a
          title="Yellowface"
          rel="nofollow"
          href="https://www.goodreads.com/book/show/62060532-yellowface"
          ><img
            alt="Yellowface"
            src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1671336740l/62060532._SX98_.jpg"
          /></a
        >
      </div>
      <div class="gr_grid_book_container">
        <a
          title="How to Win Friends and Influence People: Updated For the Next Generation of Leaders (Dale Carnegie Books)"
          rel="nofollow"
          href="https://www.goodreads.com/book/show/60002503-how-to-win-friends-and-influence-people"
          ><img
            alt="How to Win Friends and Influence People: Updated For the Next Generation of Leaders"
            src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1641117231l/60002503._SX98_.jpg"
          /></a
        >
      </div>
      <div class="gr_grid_book_container">
        <a
          title="The Diary of a Young Girl"
          rel="nofollow"
          href="https://www.goodreads.com/book/show/9266856-the-diary-of-a-young-girl"
          ><img
            alt="The Diary of a Young Girl"
            src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1627293583l/9266856._SX98_.jpg"
          /></a
        >
      </div>
      <div class="gr_grid_book_container">
        <a
          title="In the Lives of Puppets"
          rel="nofollow"
          href="https://www.goodreads.com/book/show/61135560-in-the-lives-of-puppets"
          ><img
            alt="In the Lives of Puppets"
            src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1653067105l/61135560._SX98_.jpg"
          /></a
        >
      </div>
      <div class="gr_grid_book_container">
        <a
          title="Hell Bent (Alex Stern, #2)"
          rel="nofollow"
          href="https://www.goodreads.com/book/show/34019110-hell-bent"
          ><img
            alt="Hell Bent"
            src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1648744962l/34019110._SX98_.jpg"
          /></a
        >
      </div>
    </div>
  </div>
</Layout>
