---
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro";
import coverImage from "../images/cover-image.gif";
import "../styles/global.css";
---



<Layout title="Ahmad Thakur">
  <h1>Welcome!</h1>
  <div class="container">
  <Image src={coverImage} alt="welcome" style={{ all: 'unset' }} class="center-image"/>
</div>
<p><i>Nice comes from the Latin <b>nescius</b>, meaning stupid. We do not want to be nice.</i></p>

<style>
  
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
  }
</style>
</Layout>
